# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environments
.env
.venv
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Tests
.coverage
.cache/

# Installer artifacts
*.log
*.bak
*.swp

# Notebooks
.ipynb_checkpoints/
